h1 {
    font-size: 24px;
    color: #333;
}

img {
    border: 1px solid;
}

.container-selected-medicine {
    background-color: rgb(248, 240, 224);
    border: 1px solid black;
    padding: 2%;
    min-height: 100px;
    border-radius: var(--bs-border-radius);
    ;
}

.btn-light {
    padding: 8px;
    border-radius: 50%;
}

/* ------------------- Button ----------------------- */
.button-submit {
    font-family: inherit;
    font-size: 20px;
    background: #212121;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
}

.button-submit span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.button-submit svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.button-submit:hover {
    background: #000;
}

.button-submit:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
}

.button-submit:hover svg {
    transform: translateX(1.1em) scale(1.1);
    fill: #fff;
}

.button-submit:hover span {
    opacity: 0;
    transition: 0.5s linear;
}

.button-submit:active {
    transform: scale(0.95);
}

/* ------------------- Button Close----------------------- */
.button-close {
    position: relative;
    width: 2.8em;
    height: 2.8em;
    border: none;
    background: red;
    border-radius: 50%;
    transition: background 0.5s;
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.button-close:hover {
    background-color: gray;
}

.button-close:active {
    background-color: gray;
}

/* --------------------------- TOGGlE --------------------------- */
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    font-size: 10px;
    position: relative;
    height: 3.5em;
    width: 7em;
    border: 0px solid transparent;
    border-radius: 10em;
    background-color: rgb(222, 222, 222);
    transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
}

.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
}

/* ----------------- LOADING -------------------- */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.container-selected {
    background-color: lightcyan;
    border: 1px solid black;
    padding: 2%;
    min-height: 100px;
    border-radius: var(--bs-border-radius);
}