.container-fluid{
        --bs-gutter-x: 0 !important ;
}
.intro {
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.col-sm-6 {
    margin-top: 16px;
}

.img-banner {
    background-image: url(@/assets/images/img-introduce.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    color: aliceblue;
    border-radius: 10px;
}

.img-banner2 {
    background-image: url(@/assets/images/img-introduce2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    color: aliceblue;
    border-radius: 10px;
}

.centered-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.centered-text {
    text-align: center;
    color: #333;
}


/* Quyền lợi */

.carousel-item h3 {
    color: #386fd6;
    text-align: center;
}

.carousel-item ul {
    list-style: none;

}

.carousel-item ul>h3 {
    padding-bottom: 30px;

}


.carousel-caption {
    color: black;
}

.tc {
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    min-height: 200px;
}

.container-sp {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.imgsp {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.product-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}


.col-sm-6>h2,
.col-sm-6 .check,
.col-sm-6 .ban,
.col-sm-6 .exc {
    padding: 20px;
}

.check,
.ban,
.exc {
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

.col-sm-3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.imgsp:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.tcs:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

/* ---------------------- Card ---------------------- */

.diseases {
    padding: 35px;
    background-color: #cbe0fc;
    border-radius: 4px 4px 0px 0px;
}

.gallery {
    display: flex;
    justify-content: center;
    background-color: var (--background);
    gap: 26px;
}

.img-diseases img {
    height: 350px;
    width: 350px;
    padding: 10px;
}

.card {
    position: relative;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: var (--background);
    border-radius: 50% !important;
    transition: 800ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var (--background);
    overflow: hidden;
}

figure{
    margin: 0 !important;
}

.card img {
    height: 250px;
    object-fit: cover;
    border-radius: 2px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 4px !important;
}

.card figcaption {
    display: none;
}

.card:hover figcaption {
    font-size: 1.2rem;
    position: absolute;
    height: fit-content;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%,
        );
    color: white !important;
    left: 0px;
    bottom: 0px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: rgba(71, 71, 71, 0.5);
}

.card:hover~.card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

/* ---------------------- Features ---------------------- */
.main-features-wrapper {
    margin-bottom: 2.5rem;
}

.main-features-item {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 8px solid #fff;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    display: flex;
    flex-direction: column;
}

.main-features-item:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.main-features-item__img {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    object-fit: contain;
}

.main-features-item__text {
    font-size: 18px;
    font-weight: 600;
    color: #443f3f;
    margin: 3px auto 8px;
    text-align: center;
}

.main-features-item:nth-child(1) {
    background: #43b1d2;
}

.main-features-item:nth-child(2) {
    background: #3eb6c6;
}

.main-features-item:nth-child(3) {
    background: #3dbbba;
}

.main-features-item:nth-child(4) {
    background: #37c3a8;
}

@media only screen and (max-width: 575px) {
    .card img {
        height: 135px;
        object-fit: cover;
        border-radius: 2px;
    }
}